body {
    background-image: url("img/cool-background.png");
    background-size: 240%;
    
}
.naglowki {  
    text-align: center;
}
.div1 {
    display: flex;
    font-size: xx-large;
    flex-direction: row;
    justify-content: space-evenly;
}
.image{
    float: left;
    width: 50%;
    position: absolute;
    left: 330px;
}
 
.image img{
    height: 100%;
    width: 100%;
    position: relative;
    
}
 
.formularz{
    position: absolute;
    background:  rgba(2, 2, 2, 0.5);
    width: 98%;
    padding: 1%;
    text-align: center;
    top:90%;
    left: 50%;
    font-size: 20px;
    color: #fff;   
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
